._20zXJGCt6Lfy2iqlolTHg_ {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 14em;
  padding-bottom: 1em;
  padding-top: 1em;
}

._1VbJTMv1gMOpnbuXJ0uf8p {
  text-decoration: none;
}

._1FHA9qERntdikD2Oo10iC5 {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
}

._3XHTBRvyD3GEI5W3rK4gQQ {
}

._3a3jtkyhdXrNG0ZpsZx5Pw {
  font-size: 1.05em;
  padding: 0.25em 1em;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  background-color: #8D44CE78;
  color: black;
}

.T5OPCn0nHLUnWPGwtONCw tr:nth-child(even){
  background-color: #e9e9e9;
}

._1V1qWZz5dxiZSaz33W4RD- {
  display: flex;
  margin-top: 0.25em;
  align-items: center;
  justify-content: space-between;
  box-shadow: #8D44CE78 0px 0px 0.25em;
  border-radius: 0 .25em .25em 0.25em;
  border: 1px solid #8D44CE78;
  width: 100%;
}

._2WDcAOb3E25WBjKt1RRh_l {
  width: 100%;
}

.PhOZiQvBHxOejXDVcfqXW{
  display: flex;
}

._3wzaDaYLiKtAqaDa98F_C1 {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  align-items: center;
}

.O2dYWbBV6DMC5D-VR2Ios {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  font-size: 1.25em;
}

._2RTKoF5C-LaZUcIK7Ncsfc {
  border: 0px none;
  margin: 0px 0px 0px 0.5em;
  background: #8D44CE78 none repeat scroll 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-size: 1.125em;
  padding: 0px 0.5em;
  border-radius: 0 3px 3px 0;
}

._2xzp8VziabUoLyoE-t8klT {
  top: 0;
  left: 0;
  border: 0;
  box-shadow: none;
  width: 100%;
  font-size: 1em;
  padding: .625em 2em .625em 1.125em;
  border-radius: 0 .25em .25em .25em;
}

._3mi7pmAUBZyF-11gGiRj4Z {
  width: 100%;
  font-size: .875em;
  margin-top: .85em;
  min-height: 6em;
  list-style: none;
  background-color: #fff;
  color: #2e2b2b;
  z-index: 999;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,.1);
  border-radius: 0 0 .25em .25em;
  flex-direction: column;
}

._3JIQnHoM8flrH35cU3XfNw {
  display: flex;
  flex-wrap: wrap;
}

._3an3ht8Jub_K_VAguUqmCu {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid #8D44CE78;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  margin-right: 0.5em;
}

tr._3PoLVeWbnzb3Lw_IrdiZA0:hover {
  background-color: #8D44CE78;
}

._3y6eLfipYK8BwlZWXhDbiJ {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

._3F2AWcSUhKLTqFNs40WL9q {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

._3LTOtfM6F-whkWdK4auejH {
  margin: 3em;
  padding: 1em;
  height: 7em;
  width: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._2FhfOJ7rzYYmEdlcGDbZgw {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #e9e9e9;
  color: #222222;
  height: 100%;
  text-align: center;
  flex-basis: content;
  border-radius: 10px;
  padding: .5em;
}

._3sZ1PaZeBIFjZfMLCWRJrF {
  width: 100%;
  font-size: 1em;
}

.XCIG8OVsKAg1EEOEY057 {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

._3ROtw7H0TF7zuGYLue0MQB {
  margin-bottom: 0em;
}

._6z8oKrVCA-re4Jnl7IMDk {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 50%;
  align-self: center;
}

._2xxV-t2II2Xn1PpRHmPV1j {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

._2xxV-t2II2Xn1PpRHmPV1j h4 {
  margin-top: .5em;
}

._1Yh_ILYkTnHCsRnnxe_MwP {
  margin: 1em;
}

._23cYBKvIM1cviA_UxjsLeu {
  display: flex;
  justify-content: space-evenly;
}

.ew0lGvQG-nuBQZGQeNJi0 {
  width: 20px;
  height: 20px;
}

.E6S9J-mp49kVQxItN1-bz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.UZaHJV_Ixz2WY2t0fleJL th {
  text-align: left;
  text-transform: capitalize;
}

.UZaHJV_Ixz2WY2t0fleJL tbody tr:nth-child(odd){
  background-color: #E2E6EE;
}

._13ZvseLA7fY05pwDNz42NK {
  text-align: center;
}

._20lHyz8ArZFoGjilm5BNeG {
  padding: 1em;
  margin-top: 0.75em;
  border-left: 0.25em solid #444444;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  width: 100%;
  background: #E9E9E9;
  vertical-align: middle;
  user-select: none;
  outline: currentcolor none medium;
  color: #222222;
}

._3K6xK6XYVbWsX-lc428G1B {
  display: flex;
  flex-direction: column;
}

.rpWvO487eyT6dP-5UndJP {
  display: flex;
  justify-content: space-between;
}

.OGQjwO_8QpNGEQKWzJdBS {
  float: right;
}

.sKC28023ssTtASqzi7KMp {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

._3dQJ2MiAY2suKEq_eCAjAT {
  display: flex;
}

.j_8hEIy6tIExUaOZw04nh {
    --color-1: rgba(240,50,50,0.75);
    --color-2: rgba(255,180,50,0.75);
    --color-3: rgba(255,220,90,0.75);
    --color-4: rgba(100,210,80,0.75);
    --color-5: rgba(90,165,255,0.75);
    --color-6: rgba(170,90,240,0.75);
    --color-7: hsla(0,0%,70.6%,0.75);
    --color-8: hsla(0,0%,43.1%,0.75);
    --color-9: rgba(170,150,110,0.75);
    --color-10: rgba(130,50,20,0.75);
}

table.j_8hEIy6tIExUaOZw04nh {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.j_8hEIy6tIExUaOZw04nh tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.j_8hEIy6tIExUaOZw04nh tr {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  /*overflow-wrap: anywhere;*/
  justify-content: space-between;
  align-items: flex-start;
}

.j_8hEIy6tIExUaOZw04nh td {
  justify-content: flex-end;
  text-align: end;
  width: calc(50% * var(--size, 1));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 1) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 1),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 1) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 1),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 1)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 1)::before {
  background: var(--color, var(--color-1));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 2) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 2),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 2) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 2),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 2)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 2)::before {
  background: var(--color, var(--color-2));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 3) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 3),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 3) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 3),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 3)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 3)::before {
  background: var(--color, var(--color-3));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 4) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 4),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 4) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 4),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 4)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 4)::before {
  background: var(--color, var(--color-4));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 5) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 5),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 5) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 5),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 5)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 5)::before {
  background: var(--color, var(--color-5));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 6) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 6),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 6) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 6),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 6)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 6)::before {
  background: var(--color, var(--color-6));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 7) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 7),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 7) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 7),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 7)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 7)::before {
  background: var(--color, var(--color-7));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 8) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 8),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 8) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 8),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 8)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 8)::before {
  background: var(--color, var(--color-8));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 9) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 9),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 9) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 9),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 9)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 9)::before {
  background: var(--color, var(--color-9));
}

.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS tbody tr:nth-of-type(10n + 10) td,
.j_8hEIy6tIExUaOZw04nh._2Qc5Vnu1zhGIdEVIB6FHrS._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 10),
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ tbody tr:nth-of-type(10n + 10) td,
.j_8hEIy6tIExUaOZw04nh._1tuz6KcE2_LmHJ7XKmcTnQ._1_5cUCxpaimA02Y_wVoPX2 tbody tr td:nth-of-type(10n + 10),
.j_8hEIy6tIExUaOZw04nh.PQ802livTFPSZlwVcQKRT tbody tr td:nth-of-type(10n + 10)::before,
.j_8hEIy6tIExUaOZw04nh._2UUD6kZYF4GHRTR6UbzYLF tbody tr td:nth-of-type(10n + 10)::before {
  background: var(--color, var(--color-10));
}

._16gN6Rv9UH2A161qv4ZKHe {
  width: 100%;
}

._16gN6Rv9UH2A161qv4ZKHe th {
  text-align: left;
}


/*# sourceMappingURL=CohortBuilder.css.map*/