.my_charts_css {
    --color-1: rgba(240,50,50,0.75);
    --color-2: rgba(255,180,50,0.75);
    --color-3: rgba(255,220,90,0.75);
    --color-4: rgba(100,210,80,0.75);
    --color-5: rgba(90,165,255,0.75);
    --color-6: rgba(170,90,240,0.75);
    --color-7: hsla(0,0%,70.6%,0.75);
    --color-8: hsla(0,0%,43.1%,0.75);
    --color-9: rgba(170,150,110,0.75);
    --color-10: rgba(130,50,20,0.75);
}

.graphWrap {
  display: flex;
  justify-content: flex-end;
}

.graphBar {
  text-align: end;
  width: calc(100% * var(--size, 1));
}

.my_charts_css .graphRow:nth-of-type(10n + 1) .graphBar {
  background: var(--color, var(--color-1));
}
.my_charts_css .graphRow:nth-of-type(10n + 2) .graphBar {
  background: var(--color, var(--color-2));
}
.my_charts_css .graphRow:nth-of-type(10n + 3) .graphBar {
  background: var(--color, var(--color-3));
}
.my_charts_css .graphRow:nth-of-type(10n + 4) .graphBar {
  background: var(--color, var(--color-4));
}
.my_charts_css .graphRow:nth-of-type(10n + 5) .graphBar {
  background: var(--color, var(--color-5));
}
.my_charts_css .graphRow:nth-of-type(10n + 6) .graphBar {
  background: var(--color, var(--color-6));
}
.my_charts_css .graphRow:nth-of-type(10n + 7) .graphBar {
  background: var(--color, var(--color-7));
}
.my_charts_css .graphRow:nth-of-type(10n + 8) .graphBar {
  background: var(--color, var(--color-8));
}
.my_charts_css .graphRow:nth-of-type(10n + 9) .graphBar {
  background: var(--color, var(--color-9));
}
.my_charts_css .graphRow:nth-of-type(10n + 10) .graphBar {
  background: var(--color, var(--color-10));
}
